* {
  font-family: Helvetica;
  
  background-color: black;
  color: mediumpurple;
}
h1 {
    text-align: center;
    display: block;
    color: black;
    background-color: mediumpurple;
    letter-spacing: 3px;
    text-shadow: 1px 2px plum;
    font-style: italic;
    font-weight: normal;
    
}
 ul {
    list-style-type: none;
    margin-left: 100px;
     margin-right: 90px;
     padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right: 3px solid black;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    padding: 15px;
    background-color:mediumpurple;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    
}

li a:hover {
  background-color: black;
    color: aliceblue;
}



#container {
  padding: 50px 0 0;
  width: 500px;
  margin: 0 auto;
}

#luf {
    margin-left: 10px;
    
}


