* {
  font-family: Helvetica;
  
  background-color: black;
  color: mediumpurple;
}

h1 {
    text-align: center;
    display: block;
    color: black;
    background-color: mediumpurple;
    letter-spacing: 3px;
    text-shadow: 1px 2px plum;
    font-style: italic;
    font-weight: normal;
    
}

#sketch {
    padding: 50px 0;
    width: 500px;
    margin: 0 auto;
}